<!DOCTYPE html>
<html>
<head>
    <title>Download Radio Map and Radio File</title>
</head>
<body>
    <h1>Download Radio Map and Radio File</h1>
    <p>Click the links below to download the radio maps and radio maps plot or data:</p>
    <ul>
        <li><a href="{{ radio_map_link }}">Radio Map</a></li>
        <li><a href="{{ radio_file_link }}">Radio File</a></li>
    </ul>
    
    <a href="/"><h3>Generate another radio map</h3></a>
    <h4> Variables used: </h4>
    <p> {{ variables }} </p>

    <img src="/image" alt="Radio Map">
</body>
</html>